<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre y apellido</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="nombre"
          />

          @if(formUtil.isValField(loginForm,'nombre')){
          <span class="form-text text-danger">
            {{ formUtil.getFieldError(loginForm, "nombre") }}
            <!-- Debe de ser en formato de nombre y apellido -->
          </span>
          }
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
            email="true"
          />

          @if(formUtil.isValField(loginForm,'email')){
          <span class="form-text text-danger">
            {{ formUtil.getFieldError(loginForm, "email") }}
            <!-- mensaje de error del email -->
          </span>
          }
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre código del usuario"
            formControlName="userName"
          />

          @if(formUtil.isValField(loginForm,'userName')){
          <span class="form-text text-danger">
            {{ formUtil.getFieldError(loginForm, "UserName") }}
            <!-- El username no puede ser Strider -->
          </span>
          }
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password de su cuenta"
            formControlName="password"
          />

          @if(formUtil.isValField(loginForm,'password')){
          <span class="form-text text-danger">
            {{ formUtil.getFieldError(loginForm, "password") }}
            <!-- La contraseña debe de ser mayor de 6 caracteres. -->
          </span>
          }
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar la contraseña"
            formControlName="passConfirm"
          />
          @if(formUtil.isValField(loginForm,'passConfirm')){
          <span class="form-text text-danger">
            {{ formUtil.getFieldError(loginForm, "passConfirm") }}
            <!-- Las contraseñas deben de ser iguales -->
          </span>
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid:{{ loginForm.valid }}</h2>
<h2>Form Status:{{ loginForm.status }}</h2>
<h2>Form Pending:{{ loginForm.pending }}</h2>
<h2>Form errors{{ loginForm.errors }}</h2>

<pre>{{ loginForm.errors | json }}</pre>

<h5>values</h5>

<pre>{{ loginForm.value | json }}</pre>

<h5>Nombre</h5>
<pre>{{ loginForm.controls["nombre"].value | json }}</pre>

<h5>Email</h5>
<pre>{{ loginForm.controls["email"].value | json }}</pre>

<h5>Username</h5>
<pre>{{ loginForm.controls["userName"].value | json }}</pre>

<h5>Password</h5>
<pre>{{ loginForm.controls["password"].value | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ loginForm.controls["passConfirm"].value | json }}</pre>
